$width: 1100px;
$padding-container: 90px;
$padding-col: 15px;

$font-size: .875rem;

$cor-txt: #231f20;
$azul: #62b5e5;
$bege: #a4925f;
$bordo: #790000;
$dourado: #a4925f;
$laranja: #ea793e;
$marrom: #99552b;
$roxo: #ffffff;
$vermelho: #f4364c;
$verde-limao: #b5bd00;
$verde: #b5bd00;

$light: 300;
$regular: 500;
$bold: 700;

$wLogo: 270px;

$hSlide: 89vh;